<div class="header">
    <h1>Modifier contrat</h1>
</div>

<div class="container">
  <div class="form">
    <%= render "form", contrat: @contrat %>

    <div class="option">
      <%= link_to "Retour", contrats_path, class: 'btn btn--light' %>
    </div>
  </div>
</div>
